@import url('https://fonts.googleapis.com/css?family=Rubik');



/*///////////////////*/
/*///////////////////*/
/*///////////////////*/
/*///////////////////*/
/*///////////////////*/
/*/////////TOP OF PAGE//////////TOP OF PAGE//////////////////////TOP OF PAGE////*/
nav{

    padding: 5px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
a:hover{
    background-color: #d9534f;
    border:solid 1.5px aliceblue;
    color:aliceblue;
}
hr{
    background-color: #18121E;
    height:3px;
}

/*////////RIGHT UNDER NAV/////////////RIGHT UNDER NAV//////////RIGHT UNDER NAV//*/

body{
    background-color:#233237;
    color:aliceblue;
}
.gogglefont{
    font-family: 'Rubik', sans-serif;
}
.navybackground{
    background-color: #18121E;
    border-radius: 5px 0px;
}
.row{
    z-index: auto;
}

/*/////////HOME A LITTLE ABOUT ME//////////////HOME A LITTLE ABOUT ME/////////////////////////////*/

.title{
    color:#EAC67A;
    padding:15px;
    text-decoration: underline #984B43;
}
.sexy{
    border-radius: 200px;
    padding-top:50px;
    
}
.topper{
    padding-top:100px;
}


/*/////////HOME MY EXPERIENCE//////////////HOME MY EXPERIENCE/////////////////////////////*/

.title2{
    color:#984B43;
    padding:15px;
    text-decoration: underline #EAC67A;
}
.topper2{
    padding-top:50px;
}




/*///////////////////*/
/*///////////////////*/
/*///////////////////*/

.parallax { 
    background-image: url("../Components/Images/walsun.jpeg");
    height: 600px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax2 { 
    background-image: url("../Components/Images/img_1303.jpeg");
    height: 700px;
    width: 100%vw; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax3 { 
    background-image: url("../Components/Images/owen.jpeg");
    height: 800px;
    width: 100%vw; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .parallax4 { 
    background-image: url("../Components/Images/calebsbeautifulface.jpg");
    height: 720px;
    width: 100%vw; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }